@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

.blu {
    background-color: #4971FF;
    color: #FFFFFF;
}

#fascia-superiore {
    height: 36px;
    padding: 5px;
    padding-right: 150px;
}

#fascia-superiore a {
    color: #FFFFFF;
    text-decoration: none;
}

#fascia-superiore a:hover {
    color: #ffc312;
}

#fascia-navigazione {
    height: 91px;
    padding-top: 10px;

}

#fascia-navigazione a {
    color:#4971FF;
    text-decoration: none;
    font-size: 1.2 rem;
}

#fascia-navigazione a:hover {
    color: #ffc312
}

#fascia-carousel {
    height: 367px;
    padding-top: 5px;
}

#fascia-card {
    color:black;
    height: 367px;
    padding-top: 60px;
}

#fascia-testo {
 height: 367px;
    color: black;
}

#mappa {
    padding-top: 400px;
    
}