@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}
.azzurra {
    background-color: #4971FF;
    color: #FFFFFF;
}
#fascia1 {
    height: 36px;
}
#fascia1 a {
    color: #FFFFFF;
    text-decoration: none;
}
#fascia1 a:hover {
    color: #00aeff;
    padding-right: 105px;
}